################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/.gitignore
/GUI_Development/__pycache__
/GUI_Development/backend_design/__pycache__
/GUI_Development/backend_logic/__pycache__
/.gitignore
GUI_Development/backend_logic/chatbot/test.py
GUI_Development/backend_logic/timing_and_recording/export_destination.txt
